[user]
	name = Nguyễn Tuấn Anh
	email = ubolonton@gmail.com
[color]
	status = auto
	diff = auto
	branch = auto
	ui = auto
[branch "master"]
	merge = refs/heads/master
[core]
	excludesfile = ~/.gitignore
	# autocrlf = input
	# quotepath = false
	# safecrlf = warn
     attributesfile = ~/.gitattributes
[merge]
	tool = emerge
[rerere]
	enabled = 1
[i18n]
    logoutputencoding = UTF-8
