.DS_Store
/.conkerorrc/
/.emacs.d/
/.twittering-mode.gpg
/.lein/
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o

/.config/pgcli/history
/.config/pgcli/log

/Intellij/consoles/
/Intellij/disabled_plugins.txt
/Intellij/disabled_update.txt
/Intellij/event-log-whitelist/
/Intellij/extensions/
/Intellij/fileTemplates/
/Intellij/idea.key
/Intellij/idea.vmoptions
/Intellij/inspection/
/Intellij/jdbc-drivers/
/Intellij/port
/Intellij/port.lock
/Intellij/settings.zip
/Intellij/tasks
/Intellij/workspace
/.stumpwm.d/stumpwm.log*
/.config/keyd/app.log
/.config/keyd/app.lock
