[user]
	name = Tuấn-Anh Nguyễn
	email = ubolonton@gmail.com
[color]
    status = auto
    diff = auto
    branch = auto
    ui = auto
[branch "master"]
    merge = refs/heads/master
[core]
    excludesfile = ~/.gitignore_global
    # autocrlf = input
    # quotepath = false
    # safecrlf = warn
     attributesfile = ~/.gitattributes
[merge]
    tool = emerge
[push]
    default = current
[rerere]
    enabled = 1
[i18n]
    logoutputencoding = UTF-8
[color]
    diff = auto
    status = auto
    branch = auto
[format]
    pretty = "Commit:  %C(cyan)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(yellow)%ar%Creset) %ai%n%n     %C(white)%s%n%b"


[github]
	user = ubolonton

[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = ubolonton@gmail.com
    smtpserverport = 587

[diff "lisp"]
    xfuncname = "^(\\((def).*)$"
[diff "gpg"]
	textconv = gpg --use-agent -q --batch --decrypt

[includeIf "gitdir/i:~/Programming/pp/**/.git"]
    path = "~/dotfiles/pp.gitconfig"
