# -*- mode: conf -*-
$include /etc/inputrc

# C-<delete>
"\e[3;5~": kill-word
# C-<backspace> (needs to set "Backspace generates escape sequence" in
# Gnome Terminal's Preferences' compatibility tab)
"\e[3~": backward-kill-word

# M-i M-I (my Dvorak's layout strategy)
"\ei": kill-line
"\eI": kill-whole-line

# M-m M-v
"\eb": complete

# M-G M-R
"\eOH": beginning-of-history
"\eOF": end-of-history