/* Title of unread tabs */
tab-item.unread .label-content {
  color: magenta !important;
  font-style: italic !important;
}

/* Add private browsing indicator per tab */
tab-item.private-browsing .label-content:before {
  content: "🕶";
}

/* Less visible tab dividers.
   A black border with a very low alpha slightly darkens any color. */
tab-item {
  border: solid 0px #00000012;
}

/* Change styling of pending (unloaded) tabs */
tab-item.discarded {
  opacity: 0.65;
}
tab-item.discarded .label-content {
  font-style: italic;
}
tab-item.discarded tab-favicon {
  opacity: 0.85 !important;
}

/* Show close button only when hovering */
tab-item:not(:hover) .closebox {
  display: none;
}
tab-item .closebox::before {
  border-radius: 5px; /* vary between 0 and 10 to make the background rounder */
}
tab-item .closebox:hover::before {
  background: #c8c8c8;
  opacity: 1; /* defaults to 0.1 */
}
tab-item.active .closebox:hover::before {
  background: #96afc8;
}

/* As little space before the tab name as possible.
   The fold/unfold icon is not affected. */
tab-item:not(.pinned) {
  padding-left: 0px !important; /* !important is required when there are enough tabs to cause a scrollbar */
}

/* tab-item[data-current-uri^="https://github.com"] { */
/*   background-color: hsl(300, 30%, 75%); */
/* } */
